img
{
    width: 700px;
    height: auto;
}

body
{
    background-color: rgb(170, 166, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

h1
{
    text-align: center;
    font-size: 60px;
    color: rgb(175, 84, 9);
    font-family: 'Climate crisis', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    word-spacing: 30px;
}

a
{
    color: rgb(19, 72, 97);
    font-size: 25px;
}

.links, .ingridients
{
    list-style-type: square;
    line-height: 1.6;
}
h2
{
    font-family: 'Comic Neue';
}